/* tree styles */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}



.treeContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  justify-content: center;
}


.treeContainer ul {
  gap: 20px;
  
  text-decoration: none;
	list-style-type: none;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}


.treeContainer > ul {
  text-decoration: none;
  transition: width 0.3s;

	list-style-type: none;
  padding-top: 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.treeContainer ul li {
  text-decoration: none;
  float: left;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
	padding: 20px 0 0 0;
}

.child {
  animation: fade-in .5s;
}

ul li::before, ul li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
	border-top: 1px solid #ccc;
  width: 55%;
  height: 20px;
}

ul li::after{
	right: auto; 
  left: 50%;
	border-left: 1px solid #ccc;
}

.treeContainer ul li:only-child::after, .treeContainer ul li:only-child::before {
	display: none;
}

.treeContainer ul li:only-child{ padding-top: 0;}

ul li:first-child::before, .treeContainer ul li:last-child::after{
	border: 0 none;
}

.treeContainer ul li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}

.treeContainer ul li:first-child::after{
	border-radius: 5px 0 0 0;
}

.treeContainer ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
	border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.nodeContent { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 6px;
	text-decoration: none;
	color: #000000;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	transition: all 0.3s;
  position: relative;
  z-index: 1;
}


/* .treeContainer ul li div::after{
  content: "";
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #898585;
  position: absolute;
  height: 100%;
  width: 100%;
  top:-7px;
  right:-7px;
  z-index: -1;
	transition: all 0.5s;
}

.treeContainer ul li div:hover::after{
  content: "";
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #898585;
  position: absolute;
  height: 100%;
  width: 100%;
  top:-10px;
  right:-10px;
  z-index: -1;
} */

.parentFocused {
	background-color: #c8e4f8; 
}


.parentUnFocused {
	background-color: #ffffff; 
}

.treeContainer ul li .nodeContent:hover > .nodeInfo,
.treeContainer ul li > .nodeContent:hover+ul li > .nodeContent > .nodeInfo,
.treeContainer ul li > .nodeContent:hover+ul li > .nodeContainer > .nodeContent > .nodeInfo,

.treeContainer ul li .nodeContainer:hover~ul li > .nodeContainer > .nodeContent > .nodeInfo,
.treeContainer ul li .nodeContainer:hover~ul li > .nodeContent > .nodeInfo
{
	background-color: #c8e4f8; 
}



.treeContainer ul li > .nodeContent:hover+ul li::after,
.treeContainer ul li > .nodeContent:hover+ul li::before,
.treeContainer ul li > .nodeContent:hover+ul::before,
.treeContainer ul li > .nodeContent:hover+ul ul::before,


.treeContainer ul li .nodeContainer:hover~ul li::after,
.treeContainer ul li .nodeContainer:hover~ul li::before,
.treeContainer ul li .nodeContainer:hover~ul::before,
.treeContainer ul li .nodeContainer:hover~ul ul::before

{
	border-color:  #94a0b4 !important;
}


/* specificity issues in this file... */


.treeContainer ul li .nodeContent img {
  height: 8rem;
  width: 11rem;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.nodeInfo {
  background-color: #ffffff; 

  font-size: 1rem;
  padding: 5px .2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
	transition: all 0.3s;
}


.nodeInfo button {
  padding: .7rem;
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  color: #000000;
}

.nodeInfo button:hover {
  background-color: rgb(221, 221, 221);

}


.nodeInfo button svg {
  
}




/* aggregate styles */

.aggregateChildren {
  display: flex;
  position: relative;
  min-height: 165px;
}

.aggregateChildren .nodeContent {
  transition: all 0.3s;
}

.aggregateNode:hover {
  transform: translateY(-50%) scale(1.1);

}



.nodeContainer {
  transition: all 0.5s;
  position: absolute;
  top: 0;

  z-index: 0;
}

.nodeClosed {

}


.shaded {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  
}



.aggregateChildren div:hover {
  z-index: 999;
}


.siblingCounter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -.5rem;
  top: -.5rem;
}

.childCounter {
  
}

.fatherContainer {
  position: absolute;
  top: 0;
  z-index: 999;
  visibility: hidden;
  transform: translateX(197px);
}




.nodeContent:hover > .fatherContainer::after, 
.nodeContent:hover > .fatherContainer::before {
  border-color: #94a0b4;
} 


.fatherContainer::before {
  content: "";
  border-bottom: 1px solid #747474;
  position: absolute;
  top: 50%;
  width: 21px;
  right: 177px;
  transform: rotate(25deg);

}

.fatherContainer::after {
  content: "";
  border-bottom: 1px solid #747474;
  position: absolute;
  top: 50%;
  width: 21px;
  right: 177px;
  transform: rotate(-25deg);
}






/* tree info styles */

.treeInfo {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  gap: .5rem
}

.search {
  display: flex;
  align-items: center;
  width: 15rem;
  min-width: 7rem;

}

.search svg {
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: .5rem;
}

.search input {
  background-color: inherit;
  border: 1px solid #94a0b4;
  border-radius: 2px;
  padding: .5rem .5rem;
  width: 100%
}

.search input::placeholder {
  color: #94a0b4;
  font-size: 1rem;
}


.filterButton {
  min-width: 5rem;
  padding: .3rem;
  font-size: 1rem;  
  font-weight: 400;
  background-color: #898585;
  color: #eee;
  text-align: center;
}

.filterButton svg {
  font-size: 1rem;  
  margin-right: .5rem;
}

.treeName {
  font-size: 1.5rem;
  min-width: 9rem;
  max-width: 20rem;
}

.treeName svg {
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: .9rem;
}



@media (max-width: 700px) { 
  .search {
    width: auto;
  }
}

@media (max-width: 620px) { 
  .treeName {
    display: flex;
    align-items: center;
    font-size: 1.1rem; 
    width: min-content;
  }
  
  
  .treeName svg {
    cursor: pointer;
    font-size: 1.2rem;

  }
}