.listContainer {
  padding-top: 3.8rem;
  height: 100vh;
}

.listSubContainer {
  padding: .7rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}


.card {
  flex-direction: column;
  width: auto;
  height: min-content;
  background-color: rgb(170, 224, 224);
  display: flex;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 5px;
}

.card svg {
  font-size: .7rem;
}

.card button {
  border-radius: 25px;
  padding:.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(227, 227, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: min-content;
  object-fit: cover;
  width: 300px;
  height: 250px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 1rem 1rem;
}

.cardInfo p {
  font-size: 1.1rem;
}



.addItemContainer {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 308px;
  width: 302px;
}

.addBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: inherit;
  
}

.addBtn svg {
  height: 5rem;
  width: 5rem;
}
