.cardContainer {
  position:fixed;
  width: 25rem;
  height: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 998;
}

.showCard {
  right: 0;
}

.hideCard {
  right: -25rem;
  transition: right 0.2s;
}

.visibleCard {
  opacity: 1;
  transition: opacity 1s;
  height: 100%;

}

.invisibleCard {
  opacity: 0;
  height: 100%;
}



.toggleInfoCardPosition {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.24rem;
  padding: .1rem 0 ;
  font-size: 1.8rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left:1px solid black;
  border-radius: 4px 0 0 4px ;
  background-color: white;
}

.toggleInfoCard {
  
  /* transform:scaleY(1.3);
  
  background-color: white; */
}

.closeInfoCard svg {
  color: rgb(98, 96, 96);
}




.image {
  max-height: 18rem;
  width: 100%;
  object-fit:cover;
}

.info {
  text-align: left;
  padding-left: .4rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid rgb(194, 194, 194);
}


.group {
  font-size: .8rem;
  color:  #94a0b4;
}

.group > span:hover {
  text-decoration: underline;
}


.activeTabContents {
  display: flex;
  flex-direction: column;

}


